.title {
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--secondary);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: monospace;
  color: var(--secondary);
  gap: 1rem;
}

.wrapper {
  display: flex;
  gap: 5rem;
  width: 100%;
  align-items: center;
  padding: 5rem;
}

@media screen and (max-width: 950px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.1rem;
  gap: 1rem;
}

.liDescriptions {
  list-style: none;
}

.imgAnime {
  border: 5px solid var(--secondary);
}

.synopsis {
  text-align: justify;
}

.medias {
  display: flex;
}
